/* Reset de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #f4f4f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem; /* espacio para móvil */
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  align-self: center; /* centra vertical SOLO si hay espacio */
}

/* Opcional para pantallas MUY chicas */
@media (max-height: 500px) {
  body {
    align-items: flex-start; /* no centrar vertical en pantallas bajitas */
  }
}


h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

label,
input,
button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

input {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

input::placeholder {
  color: #aaa;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem; /* Podés ajustar */
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5rem; /* Separación arriba */
}

button:hover {
  background: #0056b3;
}

/* Para que el select tenga un estilo similar y tamaño igual al botón */
select {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  background-color: white;
  color: #333;
  cursor: pointer;
}


#mensaje {
  text-align: center;
  color: red;
}

/* Links debajo del formulario */
.links {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.links a {
  color: #007bff;
  text-decoration: none;
  margin: 0 0.5rem;
}

.links a:hover {
  text-decoration: underline;
  color: #0056b3;
}


a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* VISTA PASSWORD*/

  .input-con-ojo {
    position: relative;
    width: 100%;
  }
  .input-con-ojo input {
    width: 100%;
    padding-right: 2.5rem; /* espacio para el icono */
    box-sizing: border-box;
  }
  .input-con-ojo .ojo {
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    color: #000000;
  }
  label {
  text-align: center;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #e1e1e4;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #777;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

